##forbid
#everything
/*
/*/


##allow
#Rproj
!*.Rproj

# R scripts
!*.R
!*.r

#Rmarkdown
!*.Rmd

#bibliography
!*.bib

#datafiles
!/data/
/data/*
!/data/SN_y_tot_V2.0.txt
!/data/NorthernHemisphereRW.mat

